---
layout: default
title: Home
---

		<div class="blurb">
			<h1>Alex Mannion</h1>
			<p>I'm a third-year Game Artist at Champlain College. Check out my portfolio <a href="/portfolio">here.</a></p>
			
			<p>
			I specialize in 3D Environment Art primarily, with experience in Technical Art.<br/>
			Currently taking Advanced Seminar In Game Environments at Champlain College's Montreal campus.<br/>
			<br/>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/7MqxP0gkBRk" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<br/>
			Here's a short reel I assembled at the start of Spring, 2019.
			</p>
			
			
			<br/>
		</div> 
	
