---
layout: default
title: About
---

		<div class="about">
			<h1 align=center>About</h1>
			<hr width=30%, align=center> <br/>
			<p>I'm an aspiring 3D artist with a background in videography and computer aided design.</p>
		
			<p>I love learning about and engaging with all types of creative, innovative, and emerging media.<br/>
			I'm a dedicated and motivated worker who excels at following instruction and giving creative and helpful input whenever possible.<br/>
			Above all else, I'm driven, responsible and dependable, which I believe makes me a great teammate and will make me a great game developer.<br/></p>
			
			<p>Check out my portfolio, read my blog entires and don't hesitate to reach out to me on social media, my active ones are linked below.<br/>
			I'm currently looking into environment art internship opportunities for Summer, 2020.<br/>
			
			<ul class="contacts">
				<li><a href="https://www.facebook.com/notactuallyalex">Facebook</a></li>
				<li><a href="https://www.linkedin.com/in/alex-mannion/">LinkedIn</a></li>
				<li><a href="mailto:mannion.alex@gmail.com">Email</a></li>
				</ul>
				<br/><br/>
		</div>
