---
layout: default
title: Resume
---

	<div class="resume">		
				<br/>
				<a href="AlexMannionResume.pdf" class="download" title="AlexMannionResume">Download my resume here</a>	
	
					<h1>Alex Mannion</h1>
		
					<h2>Software Knowledge</h2>
					<p> - Autodesk 3DS Max<br/>
						- Autodesk MAYA<br/>
						- Substance Designer<br/>
						- Substance Painter<br/>
						- Unity<br/>
						- Unreal engine<br/>
						- zBrush<br/><br/>
		
					<h2>Creative Summery</h2>
					<p>Hard surface high and low polygon 3D modeling <br/>
						Texture creation and UV mapping <br/>
						Video game user interface design and creation <br/>
						Vector and raster based graphic design <br/>
						Experience with SCRUM/Agile development <br/>
						Experience using C++ with Microsoft Visual Studio <br/>

					</p>
					<h2>Game Projects</h2>
					<p>
						<b>Birds Can't Fly</b>, Spring, 2019 <br/>
						Lead Artist, Team Size: 5 <br/>
						Created for Game Production 1, a class about collaborating with other majors under the Game Studio umbrella <br/>
						to give us industry experience before we enter it. With a team of 4 others and in 3 and 1/2 weeks we created <i>Birds Can't Fly</i>,<br/>
						a childrens game using penguins fleeing a metling arctic, being bothered by walruses and whales which are a metaphor for the struggles refugees <br/>
						face trying to find a new home, and being forced out of theirs by uncontrollable causes. <br/>
							• Created 3 unique characters, 11 animations, 2 iterations of environment assets, user interface and a cutscene <br/>
							• Logged over 45 hours on this project alone while completing 3 other Game Art & Animation major-specific classes <br/>
							• Practiced Agile/SCRUM, completed our project in 3 and 1/2, 1 week long sprints <br/>
							• Met twice a week outside of class and once a week online, to plan our sprint and reflect on the previous sprint
						<br/> <br/>
						
						<b>Keep Breathing</b>, Fall, 2017 <br/>
						Lead Artist, Team Size: 5 <br/>
						Created for the class Game History and Development, designed to portray living life as<br/>
						someone with Social Anxiety Disorder by making the player maintain a steady breathing pattern,<br/>
						while combating negative thoughts, and also acknowledging positive ones.<br/>
							• Created all UI elements and many tutorial assets <br/>
							• Practiced Agile/SCRUM, completed our project in 5, 1 week long sprints<br/>
						<br/> <br/>
					</p>
	</div>
