---
layout: default
title: Portfolio
---

		<div class="portfolio" align="center">
		
			<h1>Portfolio</h1>
			<hr width=30%, align=center> <br/>
			
			<h3>Modular Colombage *In Progress*</h3>
			<img src="https://i.imgur.com/G0iOMui.png" alt="ColombageTiles" width = 416 height = 366>
			<img src="https://i.imgur.com/S3aGiTp.png" alt="ColombageCloseup" width = 583 height = 366> <br/>
			
			<p>Advanced Seminar | Fall, 2019 | 3DS Max</p><br/>
			<br/>
			<hr width=55%, align=center>
			<br/>
			
			<h3>Material Studies</h3>
			<h4><i>Pokeball</i></h4>
			<img src="https://i.imgur.com/d5wMH2Z.png" alt="Pokeball" width = 260 height = 260>
			<img src="https://i.imgur.com/6j196ON.png" alt="PokeballGraph" width = 512 height = 260> <br/>
            <h4><i>Grimey Rubber Metro Tile</i></h4>
			<img src="https://i.imgur.com/b7lra4V.png" alt="RubberMetroTile" width = 388 height = 288>
			<img src="https://i.imgur.com/QplOlP6.png" alt="RubberMetroTileGraph" width = 550 height = 288> <br/>
			
			<p>Procedural Material Development | Fall, 2019 | Substance Designer</p><br/>
			<br/>
			<hr width=55%, align=center>
			<br/>
			
			<h3>Low-Poly Fantasy Caravan Generator</h3>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/f7IzYwCWkb8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
			<p>Technical Art | Spring, 2019 | Maya, PyCharm</p><br/>
			<br/>
			<hr width=55%, align=center>
			<br/>
			
			<h3>Giant Africanized Bee / Devil's Flower Mantis Sculpt</h3>
			<img src="https://i.imgur.com/KFWORKH.jpg" alt="ManisBeeSculpt1" width = 390 height = 285>
			<img src="https://i.imgur.com/TcHSwCj.jpg" alt="ManisBeeSculpt2" width = 390 height = 285>
			<img src="https://i.imgur.com/tXXcQZ4.jpg" alt="ManisBeeSculpt3" width = 390 height = 285>
			
			<p>3D Modeling 2 | Spring, 2019 | zBrush, Substance Designer and Substance Painter</p><br/>
			<br/>
			<hr width=55%, align=center>
			<br/>
			
			<h3>Fantasy Caravan</h3>
			<img src="https://i.imgur.com/gkT9TiL.jpg" alt="Caravan1" width = 400 height = 300>
			<img src="https://cdna.artstation.com/p/assets/images/images/013/937/274/large/alex-mannion-6.jpg?1541733182" alt="Caravan2" width = 400 height = 300>
			<img src="https://cdna.artstation.com/p/assets/images/images/013/937/276/large/alex-mannion-2.jpg?1541733184" alt="Caravan3" width = 400 height = 300>
			
			<p>3D Modeling 1 | Fall, 2018 | Maya, Substance Painter and Photoshop</p><br/>
			<br/>
			<hr width=55%, align=center>
			<br/>
			
			<h3>New York City Hall Subway</h3>
			<img src="https://i.imgur.com/KXDwJUy.jpg" alt="fullSubway" width = 500 height = 300>
			<img src="https://i.imgur.com/7ilTdqZ.jpg" alt="concreteSlab" width = 500 height = 300> <br/>
			<img src="https://i.imgur.com/ym0uXk4.jpg" alt="sandstoneBrick" width = 500 height = 300>
			<img src="https://i.imgur.com/Am4zzRo.jpg" alt="subwaySection" width = 500 height = 300>
			
			<p>3D Modeling 1 | Fall, 2018 | Maya, Substance Painter & Designer, Photoshop and Unreal Engine</p><br/>
			<br/>
			<hr width=55%, align=center>
			<br/>
			
			<h3>Animation Study</h3>
			<img src="https://i.imgur.com/1JAG2uB.png" alt="runescapeGuy" width = 225 height = 300>
			<img src="https://media.giphy.com/media/jVT4PIPGgdwG9N0Mw3/giphy.gif" alt="runescapeRunning" width = 700 height = 300>
			
			<p>Summer, 2018 | Maya, and Substance Painter</p><br/><br/><br/>
			
			<!--<p>Check out my 2D artwork here!</p>
			<a href="/2D"><button class="favorite styled"
				type="button">2D Artwork
			</button></a>-->
			
			<p><br/></p>
		</div>